/* DEBUG:  */ /*height vedere 12-bool senza contenuto con contenuto in html è da togliere*/
.debug [class*="col-"]{
  /* height: 200px; */
  /* border: 1px solid red;  tolto il px che con 2 elementi flottanti occupava lo spazio necessatio per stare infloat*/
  background: pink;
}
/* inizio per large screen */
.container{
  width: 992px;
  margin: 0 auto;
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
/* /inizio per large screen */
.row::after{
  content: "";
  display: table;
  clear: both;
}
[class*="col-"]{
  float: left;
}

/* colonne large screen 992px*/
.col-lg-1{
  width: calc((100%/12) * 1)
}
.col-lg-2{
  width: calc((100%/12) * 2)
}
.col-lg-3{
  width: calc((100%/12) * 3)
}
.col-lg-4{
  width: calc((100%/12) * 4)
}
.col-lg-5{
  width: calc((100%/12) * 5)
}
.col-lg-6{
  width: calc((100%/12) * 6)
}
.col-lg-7{
  width: calc((100%/12) * 7)
}
.col-lg-8{
  width: calc((100%/12) * 8)
}
.col-lg-9{
  width: calc((100%/12) * 9)
}
.col-lg-10{
  width: calc((100%/12) * 10)
}
.col-lg-11{
  width: calc((100%/12) * 11)
}
.col-lg-12{
  width: calc((100%/12) * 12)
}
/* /colonne */

/* OFFSETS */
.col-off-lg-1{
  margin-left: calc((100%/12) * 1)
}
.col-off-lg-2{
  margin-left: calc((100%/12) * 2)
}
.col-off-lg-3{
  margin-left: calc((100%/12) * 3)
}
.col-off-lg-4{
  margin-left: calc((100%/12) * 4)
}
.col-off-lg-5{
  margin-left: calc((100%/12) * 5)
}
.col-off-lg-6{
  margin-left: calc((100%/12) * 6)
}
.col-off-lg-7{
  margin-left: calc((100%/12) * 7)
}
.col-off-lg-8{
  margin-left: calc((100%/12) * 8)
}
.col-off-lg-9{
  margin-left: calc((100%/12) * 9)
}
.col-off-lg-10{
  margin-left: calc((100%/12) * 10)
}
.col-off-lg-11{
  margin-left: calc((100%/12) * 11)
}
.col-off-lg-12{
  margin-left: calc((100%/12) * 12)
}
/* /OFFSETS */

/* MEDIA QUERY colonne medium screen from 768px to 992px*/
@media all and (min-width: 768px) and (max-width: 992px){
  /* inizio per medium screen */
  .container{
    width: 768px;
  }
  .row {
    width: 100%;
    margin-top: 30px;
  }
  /* /inizio per medium screen */

  /* colonne medium screen */
  .col-md-1{
    width: calc((100%/12) * 1)
  }
  .col-md-2{
    width: calc((100%/12) * 2)
  }
  .col-md-3{
    width: calc((100%/12) * 3)
  }
  .col-md-4{
    width: calc((100%/12) * 4)
  }
  .col-md-5{
    width: calc((100%/12) * 5)
  }
  .col-md-6{
    width: calc((100%/12) * 6)
  }
  .col-md-7{
    width: calc((100%/12) * 7)
  }
  .col-md-8{
    width: calc((100%/12) * 8)
  }
  .col-md-9{
    width: calc((100%/12) * 9)
  }
  .col-md-10{
    width: calc((100%/12) * 10)
  }
  .col-md-11{
    width: calc((100%/12) * 11)
  }
  .col-md-12{
    width: calc((100%/12) * 12)
  }

  /* OFFSETS medium screen */
  .col-off-md-1{
    margin-left: calc((100%/12) * 1)
  }
  .col-off-md-2{
    margin-left: calc((100%/12) * 2)
  }
  .col-off-md-3{
    margin-left: calc((100%/12) * 3)
  }
  .col-off-md-4{
    margin-left: calc((100%/12) * 4)
  }
  .col-off-md-5{
    margin-left: calc((100%/12) * 5)
  }
  .col-off-md-6{
    margin-left: calc((100%/12) * 6)
  }
  .col-off-md-7{
    margin-left: calc((100%/12) * 7)
  }
  .col-off-md-8{
    margin-left: calc((100%/12) * 8)
  }
  .col-off-md-9{
    margin-left: calc((100%/12) * 9)
  }
  .col-off-md-10{
    margin-left: calc((100%/12) * 10)
  }
  .col-off-md-11{
    margin-left: calc((100%/12) * 11)
  }
  .col-off-md-12{
    margin-left: calc((100%/12) * 12)
  }
}
/* / MEDIA QUERY colonne medium screen from 768px to 992px*/

/* MEDIA QUERY colonne small screen from 0 to 768px*/
@media all and (max-width: 768px){
  /* colonne small screen from 0 to 768px*/
  .col-xs-1{
    width: calc((100%/12) * 1)
  }
  .col-xs-2{
    width: calc((100%/12) * 2)
  }
  .col-xs-3{
    width: calc((100%/12) * 3)
  }
  .col-xs-4{
    width: calc((100%/12) * 4)
  }
  .col-xs-5{
    width: calc((100%/12) * 5)
  }
  .col-xs-6{
    width: calc((100%/12) * 6)
  }
  .col-xs-7{
    width: calc((100%/12) * 7)
  }
  .col-xs-8{
    width: calc((100%/12) * 8)
  }
  .col-xs-9{
    width: calc((100%/12) * 9)
  }
  .col-xs-10{
    width: calc((100%/12) * 10)
  }
  .col-xs-11{
    width: calc((100%/12) * 11)
  }
  .col-xs-12{
    width: calc((100%/12) * 12)
  }

  /* OFFSETS small screen */
  .col-off-xs-1{
    margin-left: calc((100%/12) * 1)
  }
  .col-off-xs-2{
    margin-left: calc((100%/12) * 2)
  }
  .col-off-xs-3{
    margin-left: calc((100%/12) * 3)
  }
  .col-off-xs-4{
    margin-left: calc((100%/12) * 4)
  }
  .col-off-xs-5{
    margin-left: calc((100%/12) * 5)
  }
  .col-off-xs-6{
    margin-left: calc((100%/12) * 6)
  }
  .col-off-xs-7{
    margin-left: calc((100%/12) * 7)
  }
  .col-off-xs-8{
    margin-left: calc((100%/12) * 8)
  }
  .col-off-xs-9{
    margin-left: calc((100%/12) * 9)
  }
  .col-off-xs-10{
    margin-left: calc((100%/12) * 10)
  }
  .col-off-xs-11{
    margin-left: calc((100%/12) * 11)
  }
  .col-off-xs-12{
    margin-left: calc((100%/12) * 12)
  }
}
/* /MEDIA QUERY colonne small screen from 0 to 768px*/
